In [ ]:
from scipy import stats
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Book1.csv",sep=';')
df

     X1  X2   X3   X4
0    63  44  123  109
1    52  32  112   75
2    53  30  105   83
3    56  31  125   88
4    66  32  102   76
5    69  22  129   95
6    51  42  111  102
7    80  45  126  109
8    73  43  114   74
9    65  46  106   80
10   55  33  114   77
11   80  37  100   92
12   55  38  110   84
13   60  46  119   86
14   54  36  113  104
15   68  50  118  104
16   55  36  118   84
17   56  20  100  100
18   55  41  113   75
19   56  22  100   93
20   61  34  105   97
21   66  36  101   82
22   70  33  124   92
23   63  35  113   81
24   80  44  100   88
25   67  50  120   86
26   58  28  109   72
27   73  22  128  103
28   70  36  102   74
29   55  40  113  105
..   ..  ..  ...  ...
470  78  20  110   79
471  63  28  108   92
472  64  20  115   86
473  69  37  127   78
474  74  28  126   73
475  79  28  116  100
476  69  48  103   80
477  60  21  120   77
478  73  35  112   75
479  71  41  128   92
480  67  41  110   84
481  63  27  129   72
482  75  46  107   76
483  55  32  113  109
484  50  32  114   81
485  62  32  103   80
486  77  34  109   77
487  58  46  111   97
488  64  46  121  101
489  73  39  114  105
490  51  32  100   75
491  50  32  103   96
492  67  41  129   72
493  57  31  113  106
494  77  38  107   75
495  55  50  117   87
496  58  23  106   95
497  58  36  112   78
498  55  49  102   87
499  50  34  112  106

[500 rows x 4 columns]

In [9]:
import pandas as pd
from scipy import stats
df = pd.read_csv('Book1.csv', sep=';')
data = {"Stats" : ['Min','Max','Mean','Standar Deviasi','Variasi','Skewnes',
                  'Quantile 1','Quantile 2','Quantile 3','Median','Modus']}
for i in df.columns :
    data[i] = [df[i].min(),df[i].max(),df[i].mean(),
               round(df[i].std(), 2), round(df[i].var(), 2),
               round(df[i].skew(), 2),df[i].quantile(0.25),
               df[i].quantile(0.50),df[i].quantile(0.75),
               df[i].median(), stats.mode(df[i]). mode[0]]
tes = pd.DataFrame(data,columns = ['Stats']+ [x for x in df.columns])
tes

              Stats     X1      X2       X3       X4
0               Min  50.00  20.000  100.000   70.000
1               Max  80.00  50.000  130.000  110.000
2              Mean  64.89  35.384  114.094   89.784
3   Standar Deviasi   8.97   9.100    8.960   11.620
4           Variasi  80.49  82.860   80.250  135.110
5           Skewnes  -0.04  -0.090    0.110   -0.010
6        Quantile 1  57.00  28.000  106.000   80.000
7        Quantile 2  66.00  36.000  113.000   90.000
8        Quantile 3  73.00  43.000  121.000   99.000
9            Median  66.00  36.000  113.000   90.000
10            Modus  73.00  20.000  102.000   97.000